<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BlogApp</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class = "header">
      <div class = "header-logo">BlogApp</div>
      <div class = "header-login">
        <ul>
          <li>ログアウト</li>
          <li>投稿する</li>
        </ul>
        
      </div>
      <!--<div class = "header-logout">-->
      <!--  <ul>-->
      <!--    <li>ログイン</li>-->
      <!--  </ul>-->
      <!--  </div>-->
    </div>

    <%= yield %>

    <div class ="footer">
       <p>
        Copyright blogapp 2019.
      </p>
    </div>
    
  </body>
</html>